<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Our company timeline.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/pnt_ampersand.png" alt="Plug And Trade">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2014</h4>
                                    <h4 class="subheading">The company was founded</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Henrik Jönsson and Patrick Redestam founded the company.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bygghemma.jpg" alt="ByggHemma">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2014</h4>
                                    <h4 class="subheading">We partnered with ByggHemma</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We started working with Bygghemma while starting to build our platform.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/team/3.jpg" alt="Martin Nielssen">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2014</h4>
                                    <h4 class="subheading">Martin Nielssen joined the team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We don't know much about Martin as he speaks Danish and we don't.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/alex_duetto.jpg" alt="Alex Duetto">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2015</h4>
                                    <h4 class="subheading">Alex Duetto joined the team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The pride and joy of our CEO/Barista.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/stjarnbadden.jpg" alt="Sova">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2015</h4>
                                    <h4 class="subheading">We partnered with Sova</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sova needed a new way to visualise the different ways to combine their many articles as products ready for purchase.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/klassisk.png" alt="CityGross klassiska matkasse">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2015</h4>
                                    <h4 class="subheading">We partnered with CityGross</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">CityGross entrusted us to be their primary technology partner in their new e-commerce effort.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/team/6.jpg" alt="Simon Thörnqvist">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2016</h4>
                                    <h4 class="subheading">Simon Thörnqvist joined the team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Simon loves fishing but is better at programming.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/team/8.jpg" alt="Max Noack">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2018</h4>
                                    <h4 class="subheading">Max Noack joined the team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Max was hired even though he's from Helsingborg.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <h4>Coffee<br>&<br>Code</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
