<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="http://www.bygghemma.se">
                        <img src="img/logos/bygghemma.svg" style="height:50px;" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.sova.se">
                        <img src="img/logos/sova.jpg" style="height:50px;" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.citygross.se">
                        <img src="img/logos/citygross.svg" style="height:50px;" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
